.alert {
  padding: 0 12px;
  height: 33px;
  display: flex;
  background-color: #3a3939;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
  color: #fff;
  z-index: 1;
  &-normal {
    height: 33px;
  }

  &-large {
    height: 60px;
  }

  &-sticky {
    position: sticky;
    top: 0;
    z-index: 100;
  }

  &-hide {
    transform: translateY(-33px);
    height: 0;
    transition: all ease 0.5s;
  }

  & > span {
    flex: 1;
    color: #fff;
    font-size: 14px;
    margin-left: 8px;
  }
}
