// 主色
$primary-color: #335FFF;
// 副色
$secondary-color: #4b66f64d;
// 背景 顶部栏
$backgound-color: #f7f7fa;

// 黑白色阶

// 黑色一级
$black-lv1: #000;
// 二级 icon
$icon-lv2: #6a7394;
// 三级 icon
$icon-lv3: #9ca0b2;
// 二级文字
$font-lv2: #000;
// 提示性
$notice-color: #ccc;

// others

// 分割线/标签
$silder-label-color: #e5e6eb;
// 绿色
$green: #00E89B;
// 红色
$red: #e34d59;

$height: 48px;

$line-height: 40px;

$font-size-default: 1.6rem !default;

$font-weight-title: 600;

$font-family-title: inter;
